{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle as |toggleAction|}}
      {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    
    <h2>
      Bookstore {{paper-icon "chevron-right"}}
      {{pageTitle}}
    </h2>
    <div class="paper-right">
    {{#paper-item}}
          {{#paper-button onClick=(transition-to "checkout")}}
            {{paper-icon icon="shopping cart" size=18}}({{cart.bookIds.length}})
          {{/paper-button}}   
    {{/paper-item}}
    </div>
  {{/toolbar.tools}}
{{/paper-toolbar}}