<form {{action "submit" on="submit"}}>
  <div class="field">
    <label for="email">Email</label>
    {{input value=member.email placeholder="enter email"}}
  </div>
  <div class="field">
    <label for="password">Password</label>
    {{input value=member.password type="password" placeholder="enter password"}}
  </div>
  <div class="field">
    <label for="passwordConfirmation">Password Confirmation</label>
    {{input value=member.passwordConfirmation type="password" placeholder="enter password again"}}
  </div>
  <div class="btn btn-primary" {{action 'submit'}}>Sign Up</div>  
  <!-- <button type="submit">Login</button> -->
</form>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

