{{#if showAll}}
  <button {{action 'showAll'}}>Show All</button>
{{/if}}
{{!input value=value key-up=(action 'filteredArticles') class="light" placeholder="Filter By City"}}
{{!input value=value class="light" placeholder="Search..."}}

<!-- <button {{action 'filteredArticles'}}>Show All</button> -->
<!-- <ul>
  {{#each model as |book|}}
    {{book-cover book=book blurBackground=(route-action "blurBackground")}}
  {{/each}}

  {{infinity-loader infinityModel=model}}
  {{!page-numbers content=content}}
</ul> -->
<!-- <div id="paper-dialog-demo"> -->
{{#doc-content}}
<div class="layout-gt-md layout-wrap" >    
      {{#each model as |book|}}
        <div class="flex">
          {{book-cover book=book blurBackground=(route-action "blurBackground")}}  
        </div>
      {{/each}}
      {{load-more-book-button action='infinityLoad' infinityModel=model}}
</div>



{{/doc-content}}
<!-- </div> -->