{{#if showAll}}
  <button {{action 'showAll'}}>Show All</button>
{{/if}}
{{!input value=value key-up=(action 'filteredArticles') class="light" placeholder="Filter By City"}}
{{!input value=value class="light" placeholder="Search..."}}
{{page-toolbar pageTitle="Books" isDemo=true}}
<!-- <button {{action 'filteredArticles'}}>Show All</button> -->
<!-- <ul>
  {{#each model as |book|}}
    {{book-cover book=book blurBackground=(route-action "blurBackground")}}
  {{/each}}

  {{infinity-loader infinityModel=model}}
  {{!page-numbers content=content}}
</ul> -->
<!-- <div id="paper-dialog-demo"> -->
{{#doc-content}}
<div class="layout-md layout-wrap " >
    <!-- <div class="layout-column flex-xs flex-gt-xs-50"> -->
    
      {{#each model as |book|}}
      <!-- <div class="layout-row layout-xs-column">  -->
        <div class="flex flex-gt-lg-30">
          {{book-cover book=book blurBackground=(route-action "blurBackground")}}  
        </div>
      <!-- </div>  -->
      {{/each}}
    {{infinity-loader infinityModel=model}}

    <!-- </div> -->
</div>
{{/doc-content}}
<!-- </div> -->